
@font-face {
  font-family: 'Raleway-ExtraLightItalic';
  src: url('Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),  url('Raleway-ExtraLightItalic.woff') format('woff'), url('Raleway-ExtraLightItalic.ttf')  format('truetype'), url('Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
